In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Activities.csv')

In [3]:
df['Atleta ID']=input('Atleta ID ')

Atleta ID Bruna

In [4]:
df.columns

Index(['Tipo de atividade', 'Data', 'Favorito', 'Título', 'Distância',
       'Calorias', 'Tempo', 'FC Média', 'FC máxima',
       'Training Effect Aeróbico', 'Velocidade média', 'Velocidade máxima',
       'Subida total', 'Descida total', 'Comprimento médio da passada',
       'Proporção de média vertical', 'Oscilação vertical média',
       'Cadência bicicleta média', 'Cadência de bicicleta máxima',
       'Normalized Power® (NP®)', 'Equilíbrio E/D', 'Training Stress Score®',
       'Máximo de potência média (20 minutos)', 'Potência média',
       'Energia máxima', 'Granularidade', 'Fluxo', 'Total de braçadas',
       'Tempo de mergulho', 'Temp mínima', 'Intervalo de superfície',
       'Descompressão', 'Tempo da melhor volta', 'Número de voltas',
       'Temp máxima', 'Resposta média', 'Resposta mínima', 'Resposta máxima',
       'Tempo em movimento', 'Duração', 'Elevação mínima', 'Elevação máxima',
       'Ritmo médio', 'Melhor ritmo', 'Média de Swolf',
       'Taxa média de braçadas', 'Cadência de corrida média',
       'Cadência de corrida máxima', 'Tempo médio de contato com o solo',
       'Equilíbrio de GCT médio', 'Atleta ID'],
      dtype='object')

In [5]:
df=df[['Atleta ID','Tipo de atividade', 'Data', 'Distância','Calorias', 'Tempo','Cadência de corrida média',
       'Cadência bicicleta média','Ritmo médio','Total de braçadas', 'Média de Swolf','Tempo em movimento']]

In [6]:
df['Tipo de atividade'].unique()

array(['Ciclismo em local fechado', 'Ciclismo na montanha',
       'Ciclismo em estradas', 'Ciclismo', 'Ciclismo virtual',
       'Natação em alto mar', 'Natação em piscina', 'Corrida em esteira',
       'Corrida', 'Corrida em trilhas'], dtype=object)

In [7]:
df['Tipo de atividade'].isin(['Corrida', 'Natação em alto mar', 'Ciclismo em estradas', 'Ciclismo em local fechado',
                            'Natação em piscina', 'Corrida em esteira', 'Ciclismo na montanha','Ciclismo',
                            'Ciclismo virtual'])

0       True
1       True
2       True
3       True
4       True
        ...
2475    True
2476    True
2477    True
2478    True
2479    True
Name: Tipo de atividade, Length: 2480, dtype: bool

In [8]:
df=df.loc[df['Tipo de atividade'].isin(['Corrida', 'Natação em alto mar', 'Ciclismo em estradas', 'Ciclismo em local fechado',
                            'Natação em piscina', 'Corrida em esteira', 'Ciclismo na montanha','Ciclismo',
                            'Ciclismo virtual'])]

In [9]:
df.head()

,Atleta ID,Tipo de atividade,Data,Distância,Calorias,Tempo,Cadência de corrida média,Cadência bicicleta média,Ritmo médio,Total de braçadas,Média de Swolf,Tempo em movimento
0,Bruna,Ciclismo em local fechado,2021-10-05 10:04:44,14.17,567,01:00:08,NaN,58,NaN,3384,NaN,00:58:00
1,Bruna,Ciclismo na montanha,2021-10-01 17:24:00,9.7,201,00:45:14,NaN,69,NaN,2740,NaN,00:45:13
2,Bruna,Ciclismo em estradas,2021-09-26 05:58:17,89.97,"1,825",02:30:24,NaN,74,NaN,11194,NaN,02:30:20
3,Bruna,Ciclismo em estradas,2021-09-25 07:16:25,15.44,289,00:30:00,NaN,77,NaN,2277,NaN,00:29:58
4,Bruna,Ciclismo em local fechado,2021-09-24 13:53:01,0.0,494,00:55:06,NaN,74,NaN,4104,NaN,00:00:00

In [10]:
data=df['Data'][0]
data

'2021-10-05 10:04:44'

In [11]:
from datetime import datetime
datetime.strptime(data, '%Y-%m-%d %H:%M:%S')

datetime.datetime(2021, 10, 5, 10, 4, 44)

In [12]:
df['Data']=pd.to_datetime(df['Data'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2477 entries, 0 to 2479
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Atleta ID                  2477 non-null   object
 1   Tipo de atividade          2477 non-null   object
 2   Data                       2477 non-null   datetime64[ns]
 3   Distância                  2477 non-null   object
 4   Calorias                   2477 non-null   object
 5   Tempo                      2477 non-null   object
 6   Cadência de corrida média  757 non-null    object
 7   Cadência bicicleta média   1040 non-null   object
 8   Ritmo médio                1437 non-null   object
 9   Total de braçadas          1720 non-null   object
 10  Média de Swolf             680 non-null    object
 11  Tempo em movimento         2477 non-null   object
dtypes: datetime64[ns](1), object(11)
memory usage: 316.1+ KB

In [14]:
df['Tempo']=pd.to_timedelta(df['Tempo'])

In [15]:
df['Tempo']=df['Tempo'].dt.total_seconds()

In [16]:
df['Tempo em movimento']=pd.to_timedelta(df['Tempo em movimento']).dt.total_seconds()

In [17]:
metros=[]
for i in df['Distância']:
    i=i.replace(',','')
    if i == '--':
        i=i.replace('--','0')
    if '.' in i:
        i=float(i)*1000
    else:
        i=float(i)
    metros.append(i)
df['Distância']=metros

In [27]:
df=df.loc[df['Tempo em movimento']!=0]

In [30]:
df=df.loc[df['Distância']!=0]

In [31]:
df['Velocidade']=df['Distância']/df['Tempo em movimento']

In [33]:
df

,Atleta ID,Tipo de atividade,Data,Distância,Calorias,Tempo,Cadência de corrida média,Cadência bicicleta média,Ritmo médio,Total de braçadas,Média de Swolf,Tempo em movimento,Velocidade
0,Bruna,Ciclismo em local fechado,2021-10-05 10:04:44,14170.0,567,3608.0,0,58,0,3384,0,3480.0,4.071839
1,Bruna,Ciclismo na montanha,2021-10-01 17:24:00,9700.0,201,2714.0,0,69,0,2740,0,2713.0,3.575378
2,Bruna,Ciclismo em estradas,2021-09-26 05:58:17,89970.0,"1,825",9024.0,0,74,0,11194,0,9020.0,9.974501
3,Bruna,Ciclismo em estradas,2021-09-25 07:16:25,15440.0,289,1800.0,0,77,0,2277,0,1798.0,8.587319
5,Bruna,Ciclismo em estradas,2021-09-24 08:01:12,2130.0,30,335.4,0,70,0,338,0,333.0,6.396396
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Bruna,Corrida,2017-11-08 08:01:32,31540.0,"1,672",8743.0,--,0,4:37,0,0,8735.0,3.610761
2476,Bruna,Corrida,2017-11-07 18:29:29,4420.0,242,1206.0,--,0,4:33,0,0,1206.0,3.665008
2477,Bruna,Corrida,2017-11-06 17:55:44,6520.0,323,2404.0,--,0,6:09,0,0,2399.0,2.717799
2478,Bruna,Corrida,2017-11-03 18:36:34,5970.0,290,2488.0,--,0,6:57,0,0,2481.0,2.406288
2479,Bruna,Corrida,2017-11-01 07:04:57,18860.0,991,5231.0,--,0,4:37,0,0,5233.0,3.604051

In [34]:
df.fillna(0,inplace=True)
df

,Atleta ID,Tipo de atividade,Data,Distância,Calorias,Tempo,Cadência de corrida média,Cadência bicicleta média,Ritmo médio,Total de braçadas,Média de Swolf,Tempo em movimento,Velocidade
0,Bruna,Ciclismo em local fechado,2021-10-05 10:04:44,14170.0,567,3608.0,0,58,0,3384,0,3480.0,4.071839
1,Bruna,Ciclismo na montanha,2021-10-01 17:24:00,9700.0,201,2714.0,0,69,0,2740,0,2713.0,3.575378
2,Bruna,Ciclismo em estradas,2021-09-26 05:58:17,89970.0,"1,825",9024.0,0,74,0,11194,0,9020.0,9.974501
3,Bruna,Ciclismo em estradas,2021-09-25 07:16:25,15440.0,289,1800.0,0,77,0,2277,0,1798.0,8.587319
5,Bruna,Ciclismo em estradas,2021-09-24 08:01:12,2130.0,30,335.4,0,70,0,338,0,333.0,6.396396
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Bruna,Corrida,2017-11-08 08:01:32,31540.0,"1,672",8743.0,--,0,4:37,0,0,8735.0,3.610761
2476,Bruna,Corrida,2017-11-07 18:29:29,4420.0,242,1206.0,--,0,4:33,0,0,1206.0,3.665008
2477,Bruna,Corrida,2017-11-06 17:55:44,6520.0,323,2404.0,--,0,6:09,0,0,2399.0,2.717799
2478,Bruna,Corrida,2017-11-03 18:36:34,5970.0,290,2488.0,--,0,6:57,0,0,2481.0,2.406288
2479,Bruna,Corrida,2017-11-01 07:04:57,18860.0,991,5231.0,--,0,4:37,0,0,5233.0,3.604051

In [35]:
df.replace('--',0)

,Atleta ID,Tipo de atividade,Data,Distância,Calorias,Tempo,Cadência de corrida média,Cadência bicicleta média,Ritmo médio,Total de braçadas,Média de Swolf,Tempo em movimento,Velocidade
0,Bruna,Ciclismo em local fechado,2021-10-05 10:04:44,14170.0,567,3608.0,0,58,0,3384,0,3480.0,4.071839
1,Bruna,Ciclismo na montanha,2021-10-01 17:24:00,9700.0,201,2714.0,0,69,0,2740,0,2713.0,3.575378
2,Bruna,Ciclismo em estradas,2021-09-26 05:58:17,89970.0,"1,825",9024.0,0,74,0,11194,0,9020.0,9.974501
3,Bruna,Ciclismo em estradas,2021-09-25 07:16:25,15440.0,289,1800.0,0,77,0,2277,0,1798.0,8.587319
5,Bruna,Ciclismo em estradas,2021-09-24 08:01:12,2130.0,30,335.4,0,70,0,338,0,333.0,6.396396
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,Bruna,Corrida,2017-11-08 08:01:32,31540.0,"1,672",8743.0,0,0,4:37,0,0,8735.0,3.610761
2476,Bruna,Corrida,2017-11-07 18:29:29,4420.0,242,1206.0,0,0,4:33,0,0,1206.0,3.665008
2477,Bruna,Corrida,2017-11-06 17:55:44,6520.0,323,2404.0,0,0,6:09,0,0,2399.0,2.717799
2478,Bruna,Corrida,2017-11-03 18:36:34,5970.0,290,2488.0,0,0,6:57,0,0,2481.0,2.406288
2479,Bruna,Corrida,2017-11-01 07:04:57,18860.0,991,5231.0,0,0,4:37,0,0,5233.0,3.604051

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2185 entries, 0 to 2479
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Atleta ID                  2185 non-null   object
 1   Tipo de atividade          2185 non-null   object
 2   Data                       2185 non-null   datetime64[ns]
 3   Distância                  2185 non-null   float64
 4   Calorias                   2185 non-null   object
 5   Tempo                      2185 non-null   float64
 6   Cadência de corrida média  2185 non-null   object
 7   Cadência bicicleta média   2185 non-null   object
 8   Ritmo médio                2185 non-null   object
 9   Total de braçadas          2185 non-null   object
 10  Média de Swolf             2185 non-null   object
 11  Tempo em movimento         2185 non-null   float64
 12  Velocidade                 2185 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(8)
memory usage: 239.0+ KB

In [ ]:
#df2=pd.read_csv('Relatorio.csv')

In [ ]:
#df3=pd.concat([df, df2], ignore_index=True, sort=False)

In [23]:
df.to_csv('Relatorio.csv',index=False)

In [24]:
df.shape

(2477, 13)