In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Activities.csv')

In [3]:
df['Atleta ID']=input('Atleta ID ')

Atleta ID 123123

In [4]:
df.columns

Index(['Tipo de atividade', 'Data', 'Favorito', 'Título', 'Distância',
       'Calorias', 'Tempo', 'FC Média', 'FC máxima',
       'Training Effect Aeróbico', 'Cadência de corrida média',
       'Cadência de corrida máxima', 'Ritmo médio', 'Melhor ritmo',
       'Subida total', 'Descida total', 'Comprimento médio da passada',
       'Proporção de média vertical', 'Oscilação vertical média',
       'Cadência de corrida média.1', 'Cadência de corrida máxima.1',
       'Normalized Power® (NP®)', 'Equilíbrio E/D', 'Training Stress Score®',
       'Máximo de potência média (20 minutos)', 'Potência média',
       'Energia máxima', 'Granularidade', 'Fluxo', 'Total de braçadas',
       'Média de Swolf', 'Taxa média de braçadas', 'Total de repetições',
       'Total de conjuntos', 'Tempo de mergulho', 'Temp mínima',
       'Intervalo de superfície', 'Descompressão', 'Tempo da melhor volta',
       'Número de voltas', 'Temp máxima', 'Tempo em movimento', 'Duração',
       'Elevação mínima', 'Elevação máxima', 'Atleta ID'],
      dtype='object')

In [5]:
df=df[['Atleta ID','Tipo de atividade', 'Data', 'Distância','Calorias', 'Tempo','Cadência de corrida média',
       'Cadência de corrida média.1','Ritmo médio','Total de braçadas', 'Média de Swolf','Tempo em movimento']]

In [6]:
df['Tipo de atividade'].unique()

array(['Corrida', 'Natação em alto mar', 'Multiesporte',
       'Ciclismo em estradas', 'Ciclismo em local fechado',
       'Natação em piscina', 'Corrida em esteira', 'Ciclismo na montanha',
       'Ciclismo', 'Ciclismo virtual', 'Cardiovascular', 'Outros',
       'Treino de força', 'Cronômetro'], dtype=object)

In [7]:
df['Tipo de atividade'].isin(['Corrida', 'Natação em alto mar', 'Ciclismo em estradas', 'Ciclismo em local fechado',
                            'Natação em piscina', 'Corrida em esteira', 'Ciclismo na montanha','Ciclismo',
                            'Ciclismo virtual'])

0       True
1       True
2       True
3      False
4       True
       ...
475     True
476     True
477     True
478     True
479     True
Name: Tipo de atividade, Length: 480, dtype: bool

In [8]:
df=df.loc[df['Tipo de atividade'].isin(['Corrida', 'Natação em alto mar', 'Ciclismo em estradas', 'Ciclismo em local fechado',
                            'Natação em piscina', 'Corrida em esteira', 'Ciclismo na montanha','Ciclismo',
                            'Ciclismo virtual'])]

In [9]:
df.head()

,Atleta ID,Tipo de atividade,Data,Distância,Calorias,Tempo,Cadência de corrida média,Cadência de corrida média.1,Ritmo médio,Total de braçadas,Média de Swolf,Tempo em movimento
0,123123,Corrida,2021-09-30 05:50:14,4.27,314,00:24:44,165,--,5:47,--,--,00:24:35
1,123123,Natação em alto mar,2021-09-29 10:58:13,"1,214",698,00:45:23,--,--,3:44,1065,78,00:37:38
2,123123,Natação em alto mar,2021-09-27 15:19:26,483,131,00:16:06,--,--,3:20,411,71,00:13:23
4,123123,Ciclismo em estradas,2021-09-26 05:58:17,89.97,"1,825",02:30:24,--,74,35.9,11194,--,02:30:20
5,123123,Corrida,2021-09-25 07:55:40,3.06,174,00:15:00,171,--,4:54,--,--,00:14:59

In [10]:
data=df['Data'][0]
data

'2021-09-30 05:50:14'

In [11]:
from datetime import datetime
datetime.strptime(data, '%Y-%m-%d %H:%M:%S')

datetime.datetime(2021, 9, 30, 5, 50, 14)

In [12]:
df['Data']=pd.to_datetime(df['Data'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 460 entries, 0 to 479
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Atleta ID                    460 non-null    object
 1   Tipo de atividade            460 non-null    object
 2   Data                         460 non-null    datetime64[ns]
 3   Distância                    460 non-null    object
 4   Calorias                     460 non-null    object
 5   Tempo                        460 non-null    object
 6   Cadência de corrida média    460 non-null    object
 7   Cadência de corrida média.1  460 non-null    object
 8   Ritmo médio                  460 non-null    object
 9   Total de braçadas            460 non-null    object
 10  Média de Swolf               460 non-null    object
 11  Tempo em movimento           460 non-null    object
dtypes: datetime64[ns](1), object(11)
memory usage: 62.9+ KB

In [14]:
df['Tempo']=pd.to_timedelta(df['Tempo'])

In [15]:
df['Tempo']=df['Tempo'].dt.total_seconds()

In [16]:
df['Tempo em movimento']=pd.to_timedelta(df['Tempo em movimento']).dt.total_seconds()

In [17]:
metros=[]
for i in df['Distância']:
    i=i.replace(',','')
    if '.' in i:
        i=float(i)*1000
    else:
        i=float(i)
    metros.append(i)
df['Distância']=metros

In [18]:
df['Velocidade']=df['Distância']/df['Tempo']

In [19]:
df

,Atleta ID,Tipo de atividade,Data,Distância,Calorias,Tempo,Cadência de corrida média,Cadência de corrida média.1,Ritmo médio,Total de braçadas,Média de Swolf,Tempo em movimento,Velocidade
0,123123,Corrida,2021-09-30 05:50:14,4270.0,314,1484.0,165,--,5:47,--,--,1475.0,2.877358
1,123123,Natação em alto mar,2021-09-29 10:58:13,1214.0,698,2723.0,--,--,3:44,1065,78,2258.0,0.445832
2,123123,Natação em alto mar,2021-09-27 15:19:26,483.0,131,966.0,--,--,3:20,411,71,803.0,0.500000
4,123123,Ciclismo em estradas,2021-09-26 05:58:17,89970.0,"1,825",9024.0,--,74,35.9,11194,--,9020.0,9.970080
5,123123,Corrida,2021-09-25 07:55:40,3060.0,174,900.0,171,--,4:54,--,--,899.0,3.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,123123,Corrida em esteira,2020-12-18 11:14:55,9200.0,449,2856.0,170,--,5:10,--,--,2827.0,3.221289
476,123123,Corrida,2020-12-18 10:41:22,4000.0,190,1448.0,155,--,6:02,--,--,1409.0,2.762431
477,123123,Ciclismo na montanha,2020-12-18 05:57:38,14440.0,345,3614.0,--,--,14.4,--,--,3611.0,3.995573
478,123123,Corrida em esteira,2020-12-17 17:38:55,4320.0,233,1201.0,175,--,4:38,--,--,1172.0,3.597002
479,123123,Ciclismo na montanha,2020-12-17 16:25:25,10840.0,374,3657.0,--,--,10.7,--,--,3654.0,2.964178

In [20]:
df2=pd.read_csv('Relatorio.csv')

In [21]:
df3=pd.concat([df, df2], ignore_index=True, sort=False)

In [22]:
df3.to_csv('Relatorio.csv',index=False)

(1380, 13)